@{
    ViewBag.Title = "A propos de";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Application de consultation et de réservation du catalogue de musique de l'IUT de Bordeaux</p>

<p>
    Projet réalisé par <i> Solveig Lecarpentier, Stéphane Rongier et Maxime Vellard</i>.
</p>
<p>
    C'est un site web développé sur ASP.NET MVC, Framework de développement web créé par <i>Microsoft</i> et permettant de réaliser des sites web complexes grâce au modèle “MVC” (Model View Controller). Il permet de
    rechercher des compositeurs, des albums et d'écouter des enregistrements de musique classique.
</p>
<p>
    Il est possible d'afficher l'ensemble du catalogue ou de faire des recherches par compositeur ou par interprète.
</p>
<p>
    Il est possible d'ajouter des morceaux de musique dans un panier. Le panier est acccessible depuis l'écran d'accueil via l'icône dans la barre de menu.
    Pour pouvoir mettre des morceaux dans son panier, l'utilisateur doit être connecté (zone sécurisée avec suivi de session).
    Un bouton permet de valider le panier. La démarche de paiement n'a pas été réalisée pour le moment.
</p>

<p>
    L'accès à la base de donnée Classique_web_2017 uniquement quand nous sommes présents à l'IUT est une contrainte importante.
    Cela ralentit le développement et pose d'importants problèmes d'organisation. Des temps de développements prévus à l'emploi du temps comme pour le projet Immobilly seraient peut être nécessaires.
</p>
