@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Solveig Lecarpentier<br />
    Stéphane Rongier<br />
    Maxime Vellard<br />
    IUT de Bordeaux département informatique<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:solveig.lecarpentier@etu.u-bordeaux.fr">solveig.lecarpentier@etu.u-bordeaux.fr</a><br />
    <strong>Support:</strong>   <a href="mailto:stephane.rongier@etu.u-bordeaux.fr">stephane.rongier@etu.u-bordeaux.fr</a><br />
    <strong>Support:</strong>   <a href="mailto:maxime.vellard@etu.u-bordeaux.fr">maxime.vellard@etu.u-bordeaux.fr</a><br />
</address>