@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maxime Vellard<br />
    IUT de Bordeaux département informatique<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="maxime.vellard@etu.u-bordeaux.fr">maxime.vellard@etu.u-bordeaux.fr</a><br />
    
</address>