@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Classique Web</h1>
    <p class="lead">Cette application permet de consulter le catalogue de musique de l'IUT de bordeaux, et de les trier par auteur et interprètes. 
    Il est nécessaire de se connecter afin d'acheter des morceaux (Après s'être inscrit si nécessaire).</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consultez le catalogue</h2>
        <p>
           Consultez la totalité du catalogue de musique de l'IUT de Bordeaux.
        </p>
        <p><a class="btn btn-default" href="">Plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Inscrivez vous</h2>
        <p></p>
        <p><a class="btn btn-default" href="">Plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Réservez des ressources</h2>
        <p></p>
        <p><a class="btn btn-default" href="">Plus &raquo;</a></p>
    </div>
</div>