@model ClassiqueWeb.Models.Achat

@{
    ViewBag.Title = "Delete";
}

<h2>Supprmimer du panier</h2>

<h3>Confirmer la suppression</h3>
<div>
    <h4>Achat</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Nom d'abonné
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Abonne.Nom_Abonne)
        </dd>

        <dt>
            Titre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enregistrement.Titre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @using Microsoft.AspNet.Identity;
            @Html.ActionLink("Retour", "../Achats1/Panier", new { userId = User.Identity.GetUserId() })
        </div>
    }
</div>
